.image-carousel {
  height: 100vh;
}

.title {
  margin-left: 50% ;
  display: inline-block;
  transform: translateX(-50%);
}

.slider {
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 60vh;
}

.image img {
  width: 60%;
  object-fit: contain;
}

.pre-btn,
.next-btn {
  background-color: #000;
  height: 50px;
  width: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:  50%;
  font-size: 20px;
}

.pre-btn:hover,
.next-btn:hover {
  cursor: pointer;
}